@font-face {
    font-family: 'BebasNeue';
    src: url('/static/fonts/BebasNeue-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: red;
    background-image: url('/static/images/BG_photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    font-family: 'BebasNeue', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-family: 'BebasNeue', sans-serif;
    color: white;
    margin-bottom: 0;
}

h3 {
    font-size: 30px;
    font-family: 'BebasNeue', sans-serif;
    color: white;
}