.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    border: 2px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.button {
    background-color: rgb(85,81,81);
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    display: inline-flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0px;
    color: white;
}

.button-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.button-text {
    visibility: visible;
}

.button:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.6);
}

body {
    background-color: black;
    background-image: url('/static/images/BG_photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-weight: 100;
    margin: 0;
    letter-spacing: 7px;
}

h3 {
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-weight: 100;
    margin: 0;
    letter-spacing: 2px;
}