name: Continuous Deployment

on:
  push:
    branches: [main]

jobs:
    build-and-push:
        name: Build and Push Docker Image
        runs-on: ubuntu-latest

        steps:    
            - name: Check out code
              uses: actions/checkout@v4
            
            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                go-version: "1.25.1"

            - name: make script executable
              run: chmod +x ./scripts/buildprod.sh
            
            - name: Execute scripts/buildprod.sh
              run: ./scripts/buildprod.sh

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            
            # NEW: Docker build and push steps
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push Docker Image
              uses: docker/build-push-action@v5
              with:
                context: .
                push: true
                tags: |
                  justinmnge/unit_creator_fi:latest
                  justinmnge/unit_creator_fi:${{ github.sha }}